.title {
background-color: coral;
color:white;
padding: 5px 10px;
text-align: center;
text-transform: capitalize;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  
    
  }
  
   .content > :first-child{
   flex: 9999 1 60ch;
  }
  .content > :last-child{
    flex: 1 1 30ch;
  }